# BGP Session Culling Example - Extreme Networks - EXOS Based Switches (Tested on x450, x670 and x870)
# Culling type: Involuntary BGP Session Teardown

edit policy NoiseFilterProfile-WithBGPDrain

entry BLOCK_BGP4 {
    if match all {
        nlri 192.0.2.0/24 ;
        protocol tcp ;
        destination-port 179 ;
    }
    then {
        deny  ;
        count BLOCKED-BGP4 ;
    }
}
entry BLOCK_BGP4_Source {
    if match all {
        nlri 192.0.2.0/24 ;
        protocol tcp ;
        source-port 179 ;
    }
    then {
        deny  ;
        count BLOCKED-BGP4-src ;
    }
}

entry BLOCK_BGP6 {
    if match all {
        nlri 2001:db8:2::/64 ;
        protocol tcp ;
        destination-port 179 ;
    }
    then {
        deny  ;
        count BLOCKED-BGP6 ;
    }
}
entry BLOCK_BGP4_Source {
    if match all {
        nlri 2001:db8:2::/64 ;
        protocol tcp ;
        source-port 179 ;
    }
    then {
        deny  ;
        count BLOCKED-BGP6-src ;
    }
}

## Apply to ports
configure access-list NoiseFilterProfile ports 81 ingress