# BGP Session Culling Example - Juniper Junos QFX
# Culling type: Involuntary BGP Session Teardown

> show configuration firewall family ethernet-switching filter cull
term cull-v4-ingress {
    from {
        ip-version {
            ipv4 {
                source-port 179;
                ip-source-address {
                    192.0.2.0/24;
                }
                ip-destination-address {
                    192.0.2.0/24;
                }
                ip-protocol tcp;
            }
        }
    }
    then discard;
}
term cull-v4-egress {
    from {
        ip-version {
            ipv4 {
                destination-port 179;
                ip-source-address {
                    192.0.2.0/24;
                }
                ip-destination-address {
                    192.0.2.0/24;
                }
                ip-protocol tcp;
            }
        }
    }
    then discard;
}
term cull-v6-ingress {
    from {
        ip-version {
            ipv6 {
                next-header tcp;
                source-port 179;
                ip6-source-address {
                    2001:db8:2::/64;
                }
                ip6-destination-address {
                    2001:db8:2::/64;
                }
            }
        }
    }
    then discard;
}
term cull-v6-egress {
    from {
        ip-version {
            ipv6 {
                next-header tcp;
                destination-port 179;
                ip6-source-address {
                    2001:db8:2::/64;
                }
                ip6-destination-address {
                    2001:db8:2::/64;
                }
            }
        }
    }
    then discard;
}
term rest {
    then accept;
}

> show configuration interfaces xe-0/0/46
description "IXP Participant Affected by Maintenance"
unit 0 {
    family ethernet-switching {
        filter {
            input cull;
        }
    }
}

> show vlans public-ixp
description "IXP vlan";
forwarding-options {
    filter {
        input cull;
    }
}
